<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/css/style.css" rel="stylesheet">
</head>
<body>

<form action="/connexion" method="post">
    <table>
        <tr><td class="borderless"><label for="username">Username</label></td><td class="borderless"><input type="text" id="username" name="username"></td></tr>
        <tr><td class="borderless"><label for="password">Password</label></td><td class="borderless"><input type="text" id="password" name="password"></td></tr>
        <tr><td class="borderless" colspan="2"><button type="submit">Login</button></td></tr>
    </table>
</form>

</body>
</html>