<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/style.css" rel="stylesheet">
</head>
<body>

<table>
    <tr><th>id</th><th>Nom</th><th>Prenom</th><th>Age</th><th>Mail</th></tr>
    <tr><td th:text="${etudiant.getId()}"/><td th:text="${etudiant.getNom()}"/><td th:text="${etudiant.getPrenom()}"/><td th:text="${etudiant.getAge()}"/><td th:text="${etudiant.getMail()}"/></tr>
</table>

<form action="/liste-etudiants" method="post">
    <input type="hidden" name="recherche" th:value="${recherche}">
    <button type="submit" class="button">Retour</button>
</form>

<a th:href="@{/}" class="button">Accueil</a>

</body>
</html>